<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openmrs-mastercard-export-import/src/org/openmrs/module/mastercard/ArtImporter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openmrs.module.mastercard.ArtImporter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="empty /Users/michael/OpenMrsRepo/openmrs-mastercard-export-import/src/openmrs-runtime.properties cneumann cneumann2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openmrs-mastercard-export-import"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024M  -Xmx2048M"/>
</launchConfiguration>
